/*
	 CSS-Tricks Example
	 by Chris Coyier
	 http://css-tricks.com
*/

body {
  background: #393939;
  color: white;
  font: 14px Helvetica, sans-serif;
}

#page-wrap {
  width: 450px;
  margin: 30px auto;
}

h1 {
  font: 26px Georgia, Serif;
  margin: 0 0 10px 50px;
}
form {
  margin: 30px 0 0 0;
}
label {
  font: bold 20px Helvetica, sans-serif;
  display: block;
  float: left;
  text-align: right;
  padding: 3px 20px 0 0;
  width: 235px;
}

label-checkbox {
  font: bold 20px Helvetica, sans-serif;
  display: block;
  float: left;
  text-align: right;
  padding: 12px 20px 0 0;
  width: 235px;
}

input[type=text] {
  float: left;
  width: 50px;
  font: bold 20px Helvetica, sans-serif;
  padding: 3px 0 0 0;
  text-align: center;
}

input[type=checkbox] {
  float: left;
  width: 40px;
  height: 40px;
  padding: 0 0 0 0;
}

form div {
  overflow: hidden;
  margin: 0 0 5px 0;
}
.button {
  margin: 0 0 0 5px;
  text-indent: -9999px;
  cursor: pointer;
  width: 50px;
  height: 29px;
  float: right;
  text-align: center;
  background: url(../images/buttons.png) no-repeat;
}
.dec {
  background-position: 0 -29px;
}
.buttons {
  padding: 40px 0 0 160px;
}

#submit {
	width: 10em;  height: 3em;
	font: bold 20px Helvetica, sans-serif;
	text-align: center;
}
